h1 {
  color: #0A8D36;
}

h2 {
  font-style: bold;
  color: #C56504;
}

h3 {
  font-style: bold;
  color: #D52661;
}

p {
  color: #0473C5;
}

body {
  background-color: #A2C7AE;
  font-family: Verdana;
  text-align: center;
}

li {
  color: #332C7D;
  font-family: Verdana;
  text-align: center;
}
